{% extends 'base.html' %}


{% block content %}
<center>
    <h2>WEB SİTESİ ANASAYFASI</h2>
</center>

<div class="row text-xl-center">
    <center>
        <div class="px-5 gx-5" style="max-width: 800px;">
            <p>Bu site Kocaeli Üniversitesi Bilgisayar Mühendisliği Öğrencileri Muhammed Koç ve Osman Şafak tarafından tasarlanmıştır.
                Kullanıcı girişinizi yaptıktan sonra navbarda bulunan Tezler'e tıklayıp yüklediğiniz tezleri görüntülüyeblilir, aynı 
                sayfada bulunan 'ekle' butonuna tıklayıp yeni tez yüklemesi yapabilirsiniz. Yine navbarda bulunan Sogu1 ve Sorgu2 sayfalarından
                da sorgularınızı gerçekleştirebilirsiniz. Admin paneline ulaşmak için admin paneli butonuna tıklayıp giriş yapabilirsiniz.
            </p>
        </div>
    </center>
</div>
    
    
{% endblock content %}